.content:first-child {
    align-items: center;
    display: flex;
    flex-direction: column;
}
#home-area {
    align-items: center;
    background-color: var(--gray);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 16px;
    padding: 16px;
    width: 720px;
}
#home-area > img {
    border-radius: 8px;
    width: 360px;
}
#home-area > h1, #home-area > p {
    margin: 0;
    text-align: center;
}
@media (max-width: 720px) {
    #home-area {
        width: calc(100% - 64px);
    }
}
@media (max-width: 360px) {
    #home-area > img {
        width: calc(100% - 32px);
    }
}