.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    width: 100%;
}
#home-div-1 {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
    padding: 16px 0;
    width: calc(100% - 32px);
}
#home-div-1 > div {
    display: flex;
    flex-direction: column;
}
#home-div-1 > div:first-child {
    align-items: center;
    width: 67%;
}
#home-div-1 > div:last-child {
    align-items: start;
    width: 33%;
}
#home-div-1 > div > img {
    border-radius: 50%;
    width: 360px;
}
#home-div-1 > div > div > h1 {
    margin: 0;
}
#home-div-1 > div > div > div {
    display: flex;
    gap: 16px;
}
#home-div-1 > div > div > div > a:first-child {
    background-color: var(--tertiary-color);
    border: solid var(--tertiary-color) 2px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    padding: 16px;
    text-decoration: none;
}
#home-div-1 > div > div > div > a:last-child {
    border: solid var(--tertiary-color) 2px;
    border-radius: 8px;
    cursor: pointer;
    padding: 16px;
    text-decoration: none;
}
#home-div-1 > div > div > div > a:hover {
    background-color: var(--quaternary-color);
    border: solid var(--quaternary-color) 2px;
    color: white;
}
@media (max-width: 720px) {
    #home-div-1 {
        flex-direction: column-reverse;
    }
    #home-div-1 > div:first-child {
        align-items: center;
        width: 100%;
    }
    #home-div-1 > div:last-child {
        align-items: center;
        width: 100%;
    }
    #home-div-1 > div > div > h1, #home-div-1 > div > div > p {
        text-align: center;
    }
}
@media (max-width: 360px) {
    #home-div-1 > div > img {
        width: calc(100% - 32px);
    }
}