.home {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    width: 100%;
}
#home-div-1 {
    align-items: center;
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
    padding: 16px 0;
    width: calc(100% - 32px);
}
#home-div-2 {
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 32px;
    width: 720px;
}
#home-div-1 > img {
    border-radius: 50%;
    width: 360px;
}
#home-div-1 > h1, #home-div-2 > p {
    margin: 0;
    text-align: center;
}
@media (max-width: 720px) {
    #home-div-1 {
        flex-direction: column-reverse;
        width: calc(100% - 32px);
    }
    #home-div-2 {
        padding: 32px 0;
        width: calc(100% - 32px);
    }
}
@media (max-width: 360px) {
    #home-div-1 > img {
        width: calc(100% - 32px);
    }
}