.pages {
    align-items: center;
    flex-direction: column;
    padding: 16px 0;
}
.pages > h2 {
    width: 720px;
}
#pagelist {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 8px 8px 0 8px;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}
#pagelist > a {
    color: var(--black);
    font-size: larger;
    padding: 8px;
    text-decoration: none;
    width: 600px;
}
#pagelist > a:hover {
    text-decoration: underline;
}
@media (max-width: 800px) {
    .pages > h2 {
        width: calc(100% - 32px);
    }
    #pagelist > a {
        width: calc(100% - 64px);
    }
}