.pages {
    align-items: center;
    flex-direction: column;
    padding: 16px 0;
}
#pages-div-1 {
    padding: 16px 0;
}
#pages-div-1 > h2 {
    margin: 0;
    width: 720px;
}
#page-list {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: 8px 8px 0 8px;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}
#page-list > a {
    color: var(--black);
    font-size: larger;
    padding: 8px;
    text-decoration: none;
    width: 600px;
}
#page-list > a:hover {
    text-decoration: underline;
}
@media (max-width: 800px) {
    #pages-div-1 > h2 {
        width: calc(100% - 32px);
    }
    #page-list > a {
        width: calc(100% - 64px);
    }
}